*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
}

img{
    height: 150px;
    width: 150px;
}